:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(212, 45%, 89%);
  --clr-grayish-blue: hsl(220, 15%, 55%);
  --clr-dark-blue: hsl(218, 44%, 22%);

  --fs: 15px;

  --ff: [Outfit](https://fonts.google.com/specimen/Outfit);

  --fw-regular: 400;
  --fw-bold: 700;

  /* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
} */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: var(--clr-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
}

.container {
  background-color: var(--clr-white);
  padding: 2rem;
  margin: 5rem 2rem 2rem;
  border-radius: 1rem;
  max-width: 500px;
}

img {
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 0 2rem 2rem;
  color: var(--clr-dark-blue);
}

.text {
  color: var(--clr-grayish-blue);
  text-align: center;
  margin: 0 2rem 2rem;
  font-size: 15px;
}
